
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.deps.json
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.deps.json
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.dll
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.deps.json
backend/MemmegerOneAPI/obj/MemmegerOneAPI.csproj.nuget.g.props
backend/MemmegerOneAPI/obj/MemmegerOneAPI.csproj.nuget.dgspec.json
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.pdb
backend/MemmegerOneAPI/obj/project.nuget.cache
backend/MemmegerOneAPI/obj/project.assets.json
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.genruntimeconfig.cache
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.deps.json
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.dll
backend/MemmegerOneAPI/bin/Debug/net6.0/MemmegerOneAPI.pdb
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.csproj.CoreCompileInputs.cache
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.csproj.FileListAbsolute.txt
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.dll
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.genruntimeconfig.cache
backend/MemmegerOneAPI/obj/Debug/net6.0/MemmegerOneAPI.pdb
backend/MemmegerOneAPI/obj/MemmegerOneAPI.csproj.nuget.dgspec.json
backend/MemmegerOneAPI/obj/MemmegerOneAPI.csproj.nuget.g.props
backend/MemmegerOneAPI/obj/project.assets.json
backend/MemmegerOneAPI/obj/project.nuget.cache
